* {
    font-family: 'Inter-Tight', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.popup-container {
    background-color: #f0f0f0 !important;
}

.popup-title {
    color: #000 !important;
    font-size: 25px !important;
    font-weight: 600 !important;
}

.popup-saved-title {
    color: #3e3e3e !important;
    font-size: 18px !important;
    text-align: center !important;
}

.popup-confirm-button {
    background-color: #000 !important;
    color: #fff !important;

    border-color: #000 !important;
    border-radius: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;

    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2) !important;
    cursor: pointer !important;
}

.popup-saved-button:hover {
    background-color: #f0f0f0 !important;
    color: #000 !important;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) !important;
}