.content {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;

    overflow-y: auto;
    scrollbar-color: #717171 #000;
}

.content-wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    padding: 40px;
}

.content-header {
    margin-top: 0px;
    margin-bottom: 150px;

    font-weight: 700;
    font-size: 45px;

    line-height: 1.5;
    letter-spacing: -1px;

    text-align: center;
    text-transform: uppercase;

    color: #3e3e3e;
}

.step-row {
    display: flex;
    padding-bottom: 280px;
}

.step-row.last {
    padding-bottom: 240px;
}

.step-image-wrap {
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    overflow: hidden;
}

.step-image {
    height: 300px;
    width: 460px;

    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.step-image.left {
   transform: translateX(-5%);
}

.step-image.right {
    transform: translateX(5%);
}

.step-image.in-view {
    transform: translateX(0);
    opacity: 1;
}

.step-description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35%;
    padding-right: 80px;
    padding-left: 80px;
}

.step-description.left {
    margin-right: auto;
}

.step-description.right {
    margin-left: auto;
}

.step-title {
    color: #A9554C;
    font-size: 16px;
}

.step-heading {
    font-size: 25px;
    line-height: 1.2;
    color: #3e3e3e;
    margin-top: 10px;
}

.step-text {
    margin-top: 20px;
    color: #a6a6a6;
    text-align: left;
    font-size: 16px;
    line-height: 1.3;
}