body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.8px;
    color: #2F2504;
    background-color: white;
}

#controls {
    margin-bottom: 20px;
}

.btn, button {
    font-size: 14px;
    padding: none;
    color: #2F2504;
    background-color: #F7F6F3;
}

button {
    border: 2px solid #ccc;
    padding: 2px 6px;
    margin: 10px;
    cursor: hover;
}

button:hover {
    background-color: #EFECE6;
    cursor: pointer;
}

.container {
    position: relative;
    height: 88vh; /* 88% of the viewport height */
    border: 2px solid #ccc;

    background-color: #F7F6F3;
}

#pdfContainer {
    width: 70%;
    margin-right: 20px;
    float: left;
}

#annotationsContainer {
    float: right;
    width: 26%;
}

.text {
    flex-grow: 1; /* Grow to take remaining space */
    border: none;

    margin-top: 10px; margin-bottom: 10px;
    margin-left: 20px; margin-right: 20px;

    /* Adjust to account for margin */
    width: calc(100% - 25px);
    height: calc(100% - 15px);

    overflow-x: auto; /* Enable horizontal scrolling */
}

#error {
    font-size: 15px;
    color: #A9554C;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  /* Position to the right next to the export button */
  top: 0;
  left: 100%;

  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
    display: block;
    cursor: pointer;
}

/* On hover, show the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}