body {
    font-family: Arial, sans-serif;
}

#controls {
    margin-bottom: 20px;
}

#pdfContainer {
    width: 70%;
    height: 700px;
    position: relative;
    border: 2px solid #ccc;
    margin-right: 20px;
    float: left;
    overflow-y: auto;
}

#pdfText {
    flex: 1; /* Grow to take remaining space */
    border: none;
    margin: 10px;
    width: calc(100% - 25px); /* Adjust width to account for margin */
    height: calc(100% - 25px); /* Adjust height to account for margin */
}

#annotationsContainer {
    float: right;
    width: 26%;
    height: 700px;
    overflow-y: auto;
    border: 2px solid #ccc;
}

#annotationsText {
    flex: 1; /* Grow to take remaining space */
    border: none;
    margin: 10px;
    width: calc(100% - 25px); /* Adjust width to account for margin */
    height: calc(100% - 25px); /* Adjust height to account for margin */
}

button {
    margin-left: 10px;
    margin-right: 10px;
}