:root {
    --buttonBackgroundColor: #000;
    --buttonColor: #eee;
    --buttonHoverBackgroundColor: #2c2c2c;
    --buttonBorderRadius: 0.25rem;

    --scrollbarColor: #717171;
    --scrollbarBackgroundColor: #000;
}

body {
    font-family: 'Inter-Tight', sans-serif;
    color: hsla(0, 0%, 0%, 1.00);
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    overflow: hidden;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
}

p {
    margin-bottom: 0px;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 1920px;
}

.content-right {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
}

.controls {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 5vh;

    display: flex;
    justify-content: space-between;
}

.control-button {
    display: flex;
    align-items: center;
    height: 100%;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.control-buttons .last {
    margin-left: auto;
}

/* Containers */

.container {
    position: relative;
    height: 88vh; /* 88% of the viewport height */

    background-color: none;
}

/* PDF */

#pdfContainer {
    width: 70%;
    margin-right: 20px;
    float: left;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Codes */

#codesContainer {
    float: right;
    width: 26%;

    display: flex;
    justify-content: center;
    align-items: center;

    scrollbar-width: thin;
    scrollbar-color: var(--scrollbarColor) var(--scrollbarBackgroundColor);
}

#codes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 10px;
    width: 100%;
    max-height: 100%;

    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

#codes .code {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Buttons */

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin-right: 10px;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type="submit"] {
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonColor);

  font-weight: 700;
  font-size: 14px;
  cursor: hover;

  border-radius: var(--buttonBorderRadius);
  padding-left: 1rem;
  padding-right: 1rem;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

input[type="submit"]:focus, input[type="submit"]:hover {
  background-color: var(--buttonHoverBackgroundColor);
  cursor: pointer;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

input[type="file"] {
    color: var(--buttonColor);
    font-size: 14px;
}